.use-png {
	display: none;
}

.use-svg {
	display: block;
}

@media only screen and (max-device-width: 480px) {
	.use-png {
		display: block;
	}

	.use-svg {
		display: none;
	}

	#imagerollover {
		height: 125px;
		width: 125px;
	}

	#imagerollover img {
		width: 125px;
		height: 125px;
	}

	.content {
		min-width: 100px;
	}

	#feature article {
		margin-left: 155px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 16px;
	}
}
